@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Gloria Hallelujah', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.phone {
  position: relative;
  overflow: hidden;
  border: 3px solid #ccc;
  border-radius: 15px;
  height: 600px;
  width: 340px;
}
